/* App.css */
html,
body,
#root {
 padding:0;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
 
}

/* Add styles for the container */
.logo-sidebar-container {
 flex:1;
  display: flex;
  
  align-items: stretch;
 
  
  
   /* Adjust margin to provide separation between the logo-sidebar-container and the description */
}




/* Content styles */
.content {
  flex: 1; /* Take up the remaining available space */
 
 
  overflow-y: auto;
   /* Add some space between sidebar and content */
  
  
  
    
}

.content a {
  text-decoration: underline;
  color: rgb(67, 67, 173);
}
.content h1 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.content h2 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}


.content ul {
  padding-left: 20px;
 
  
  
}

.content p {
  line-height: 1.6;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.product{
padding: 20px;
flex: 1; 
background-color: #fff;
border-top: 1px solid rgb(225, 224, 224);
}


.social-bar{
  justify-content: flex-end;
  align-items: center;
  display: flex;
  
 padding-right: 20%;
  background-color: rgb(255, 255, 255);
 
}





