.sidebar {
    padding: 10px;
    flex-direction: column; /* Display menu items in a column */
    align-items: flex-start; 
    
    /* Take up the full width */
    text-align: center;
    background: linear-gradient(to bottom,#ffffff,#fff) ;
    /* background-image: url('../public/image/sidebar-image.png');     */
    background-position: top; /* Center the image */
    background-repeat: no-repeat;   
    background-color: #fff; 
    
  
    overflow-y: auto;
    
    
    /* Enable scrolling if content exceeds sidebar height */
  }
  
  
  
  /* Adjust the gap between sidebar and description page */
  
  /* Sidebar styles */
  .sidebar h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    
  }
  
  .sidebar li{
    cursor: pointer;
    
    
  }
  
  
  .sidebar-image {
    margin-bottom: 0; /* Push the image to the bottom of the sidebar */
    text-align: center;
    max-width: 35px;
    height: auto; 
    filter:grayscale(100%);
    transition: filter 0.2s, transform 0.2s;
     /* Center the image horizontally */
  }

  .active-image {
    /* Apply a sepia filter when active */
    filter: grayscale(0%);
  }
  
  /* Add a hover effect to change the color on hover */
  .sidebar-image:hover {
    filter:grayscale(0%);
  }
  
  
  
  
  /* Style for sidebar options */


  .sub-menu {
    display: flex;
    flex-direction: column;
    transition: background-color 0.2s,font-size 0.2s,color 0.2s,max-height 0.2s ease-in-out;
    justify-content: flex-end;
    text-decoration: none;
    
    
    padding: 20px;
    
  }
  
  
  .sub-menu li {
    margin-bottom: 5px;
    text-align: right;
    margin-right:10px
  }
  
  .sub-menu a {
    color: #222222;
    text-decoration: none;
    transition: background-color 0.2s,font-size 0.2s,color 0.2s;
    font-size: 11px;
    font-weight: bold;
    
    
  }
  .sub-menu ul {
    list-style: none;
    padding: 0;
    
    
  }
  
  .sub-menu a:hover {
    
    color:#9acde6;
    
  }

  .sub-menu a.active {
    
    color:#35A0F1; font-weight: bold;
    
  }



  .main-category {
    padding: 15px;
    
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #1a1a1a;
    
    transition: background-color 0.2s,font-size 0.2s,color 0.2s;
    overflow-y: auto;
    text-decoration: none; /* Remove text decoration */
    justify-content: space-between; 
    font-size: 17px;
    font-weight: bold;/* Adjust alignment of dropdown arrow */
  }

  .category-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items on the right side */
    position: relative;
  }
  
  .has-image .category-label {
    margin-left: 10px; /* Adjust the spacing between image and label */
  }
  .main-category span {
    font-size: 19px; /* Adjust arrow size */
    text-decoration: none; /* Remove text decoration */
  }
  
  .main-category:hover {
    
    font-weight: bold;
    font-size: 18px;
    background-color: #efefef; 
    color: #84c1ef;/* Highlight on hover */
  }
  .main-category:hover .sidebar-image,.active-image {
    transform: scale(1.1);

    filter:grayscale(30%);
  }
  .main-category:hover +.sub-menu  {
    background-color: #efefef;
  
  }
 
  .mainplussub.active {
    box-shadow: 2px 0px 5px #9acde6;
    border-radius: 2px;   /* Change the text color */
     /* Add a border to the right */
    /* Add any other styling you want for the active main category */
  }
  
  .main-category.active{
   
    font-size: 20px;
    color: #35A0F1;
    font-weight: bold;
    text-decoration: underline;
 
    
  }
  
  .main-category.active + .sub-menu  {
    background-color: #ffffff;
  }
  .main-category.active .sidebar-image,.active-image  {
    filter:grayscale(0%);
    transform: scale(1.5);
    /* Highlight on hover */
  }

  .main-category a {
    width: 100%;
    border-radius: 1px;
    display: flex;
    align-items: center;
    border-top: 1px solid #35A0F1;
    cursor: pointer;
    color: #35A0F1;
    
    transition: background-color 0.2s;
    overflow-y: auto;
    text-decoration: none;
     /* Remove text decoration */
    justify-content: space-between; 
  }

  
