.submenu-template {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
  
}

.submenu-header {
  width: 100%;
  display: flex;
 align-items: flex-start;
 justify-content: space-between;
 

  font-weight: bold;
  color: #35A;
}

.submenu-title{
  text-transform: uppercase ;
  padding-left: 20px;
  font-size: 48px;font-weight: bold;
  }
.submenu-header p{
  padding: 0px;
}

.submenu-content {
  background-color: #a0a0a0;
  display: flex;
  
  justify-content: space-between;
  width: auto;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  /* Your styling for the content area */
}

.image {
  flex: 1;
 
  /* Styling for the image container */
}
.submenu-image{
  height: 300px; /* Adjust the fixed height */
  width: auto;
  object-fit: contain; 
  border: 2px solid black;
  
}
.image img {
  
  width: 100%;
  /* Styling for the image */
}

.info {
  
    
    color:#808080 ;
    padding-left: 20px;
    
    text-align: center;
  
    border-radius: 20px;
    font-size: 20px;
    
    
}

.topsubbar {
  border-bottom: 2px solid #a0a0a0;
}

.breadcrumbs {
  padding: 10px;
  background-color: #ffffff;
  font-size: 10px;
  font-style: italic ;
  color: #000000; text-transform: uppercase ;
  
  /* Styling for the breadcrumb links */
}

.breadcrumbs a {
  text-decoration: none;
  color: #000000;
}

.breadcrumbs a:hover {
  color: #16a5e1;
}
.back-button{
 
  align-items: start;
 
 
  justify-content: start;color:  #000000;text-decoration: none;
  font-size: 48px;
}



@media (max-width: 768px) {
  .submenu-content  {
    flex-direction: column;
    align-items: center;
  }
  .submenu-header{ 
    flex-direction: column;
    align-items: center;
  }

}