.submenu-template {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.submenu-header {
  width: 100%;
  display: flex;
 align-items: flex-end;
 justify-content: space-between;
  border-bottom: 2px solid #bfbfbf;

  font-weight: bold;
  color: #16a5e1;
}

.submenu-title{
  text-transform: uppercase ;
  padding-left: 20px;
  font-size: 48px;font-weight: bold;
  }
.submenu-header p{
  padding: 0px;
}

.submenu-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  /* Your styling for the content area */
}

.image {
  flex: 1;
 
  /* Styling for the image container */
}
.submenu-image{
  height: 300px; /* Adjust the fixed height */
  width: auto;
  object-fit: contain; 
  
}
.image img {
  width: 100%;
  /* Styling for the image */
}

.info {
  
    background-color: rgb(255, 255, 255);
    color:#000000 ;
    padding: 20px;
    
    border-radius: 20px;
    font-size: 20px;
    height: fit-content;
    
}

.topsubbar {
  border-bottom: 2px solid #a0a0a0;
}

.breadcrumbs {
  padding: 10px;
  background-color: #ffffff;
  font-size: 14px;
  color: #000000; text-transform: uppercase ;
  /* Styling for the breadcrumb links */
}

.breadcrumbs a {
  text-decoration: none;
  color: #000000;
}

.breadcrumbs a:hover {
  color: #16a5e1;
}
.back-button{
 
  align-items: start;
 
 
  justify-content: start;color:  #000000;text-decoration: none;
  font-size: 48px;
}
