.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 5px 20px;
  }
  .top-bar-links {
    display: flex;
    align-items: center;
  }
  .top-bar-link {
    margin-left: 20px;
    text-decoration: none;
    color: #16a5e1;
    font-weight: bold;
  }
  
 
  .top-bar-link:hover {
    color: #000;
  }
  .logo {
    height: 100px; /* Adjust the height of the logo */
    width: auto;
    
    
  }
  
  /* Update the logo and sidebar styles */
  .logo-container {
    display: flex;
    justify-content: center;
    float: left;

    position: relative;

    left: 50%;

    top: 50%;

    margin-left: -100px; /* Half the width of your image. IE6 will double this measure because it is floated. */

   
    
  }