.floating-button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    text-decoration: none;
    display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
      height: auto;
      max-width: 100px;
    transition: background-color 0.2s, transform 0.5s;
  }
  
  .floating-button:hover {
    
    transform: scale(1.05);
  }
  

  .floating-button img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    opacity: 0.4;
    transition: opacity 0.6s, transform 0.6s;
  }
  .floating-button img:hover{
    opacity: 1;
    transform: scale(1.1);
  }


  @media (max-width: 768px){
    .floating-button {height:1px;
      width: 0px;
      height: 0px;
    
  }
    
  
}