.menu {
    list-style: none;
    padding: 20px;
    display: flex;
    background-color: #505050;
    color: #35A0F1;
    margin-top: 0px;
    justify-content: space-between;
    padding-left:  18%;;
    padding-right:  18%;;
    margin-bottom: 0px;
    font-weight: bold;
    
    box-shadow: 5px 10px 30px #888888;
  }
  
  .menu a:hover {
    color:#dcdcdc
    
  }


  
  .menu a {
    text-decoration: none;
      color: #ffffff;
  }
  .menu .active,
  .menu .active:hover {
    color: #35A0F1;
  }
  
 
  
  .breadcrumbs a {
    text-decoration: none;
    color: #333;
  }
  
  .breadcrumbs span {
    margin: 0 5px;
  }

  .submenu {
    position: relative;
  }
  
  .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    
    padding: 10px;
    list-style: none;
  }
  
  .submenu:hover .sub-menu {
    display: block;
  }
  
  .sub-menu li {
    margin: 5px 0;
  }
  
  .sub-menu a {
    color: #888888;
    text-decoration: none;
  }


  @media (max-width: 768px) {
    .menu {
      flex-direction: column;
      align-items: center;
      padding: 0px;
      margin:0px;
     height:auto;
    border:none;
     box-shadow:none;
     background-color: #fff;
    }
    
    .menu li {
    padding:10px;
    width: 70%;
    text-align: center;
    border:1px solid rgb(255, 255, 255);
    background-color: #3a3a3a;
    }
  
  }