.top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
   
   
   padding: 0px 18%;
  }
  .top-bar-links {
    display: flex;
    align-items: center;
  }
  .top-bar-link {
    
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  
 
  .top-bar-link:hover {
    color: #16a5e1;
  }
  .logo {
    height: 300px; /* Adjust the height of the logo */
    width: auto;
    transition: height 0.4s;
    
  }
  .socialbar{
 align-items: center;
    float:right;
    
  }
  /* Update the logo and sidebar styles */
  .logo-container {
    display: flex;
    justify-content: center;
    float: left;

   

     /* Half the width of your image. IE6 will double this measure because it is floated. */

   
    
  }

  .social{
   padding: 5px;
   filter: brightness(100%);
width: 40px;
height: auto;
  }

  .social:hover{
    filter:brightness(130%);
 
   }

   
  
  @media (max-width: 768px) {
    .top-bar  {
      flex-direction: column;
      align-items: center;
      background-color: #000000;
     
    }
    .logo-container {
      flex-direction: column;
      align-items: center;
      
      
    }
  
  }