.top-bar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #fff;
   
    
    margin-left: 18%;;
    margin-right: 18%;;
  }
  .top-bar-links {
    display: flex;
    align-items: center;
  }
  .top-bar-link {
    
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  
 
  .top-bar-link:hover {
    color: #16a5e1;
  }
  .logo {
    height: 150px; /* Adjust the height of the logo */
    width: auto;
    
    
  }
  .socialbar{
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
  }
  /* Update the logo and sidebar styles */
  .logo-container {
    display: flex;
    justify-content: center;
    float: left;

   

     /* Half the width of your image. IE6 will double this measure because it is floated. */

   
    
  }

  .social{
width: 50px;
height: auto;
  }

  @media (max-width: 768px) {
    .top-bar  {
      flex-direction: column;
      align-items: center;
    }
    .logo-container {
      flex-direction: column;
      align-items: center;
      
      
    }
  
  }